body
{
  background-color: gray;
}

#maindiv{
  padding-left: 50px;
  padding-right: 50px;
  background-color: green;
  color: red;
}

#frm1{
  color: yellow;
  text-align: center;
}

#frmconsulta{
  color: blue;
  text-align: center;
}
#btnguardar, #btneliminar{

}
